* {
  box-sizing: border-box;
}

body{
    background-color:#282A36;
    color: #F8F8F2;
}

h1{
    margin: 0;
}

.header{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    top: 0;
}

.budget-line-item-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: #50FA7B;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px;
}

.main-budget-area-container{
    display: grid;
    grid-template-columns: 6% 78% 16%;
}

.button-and-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


ul{
    list-style-type: none;
    padding: 0px;
}