body{
    background-color:#282A36;
    color: #F8F8F2;
}

.budget-line-item-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: #50FA7B;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #F8F8F2;;
}

.main-budget-area-container{
    display: grid;
    grid-template-columns: 6% 78% 16%;
}

.button-and-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
    padding: 0px;
}