body{
    background-color:#282A36;
    color: #F8F8F2;
}

.budget-line-item-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: #50FA7B;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #F8F8F2;;
}


ul{
    list-style-type: none;
}